@charset"utf-8";
#logo {
    color: #fff;
}
.navbar {
    margin-bottom: 0px;
}
/*.floatri {*/
/*float: right;*/
/*padding-left: 15px;*/
/*padding-right: 0;*/
/*}*/

.col-md-4,
.col-md-3 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}


.padcatalogo {
    padding: 0!important;
}

.preco2 {
    font-size: 1.5em;
}

.close {
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    font-size: 61px;
    color: #020202 !important;
    opacity: 0.9;
}

button.close {
    padding-right: 10px !important;
}

body {
    background-image: url("../img/asas.jpg");
}

#footer {
    background-color: #020202;
}

.nav-pills>li>a {
    font-size: 1.3em;
}

.nopadlr {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.thumbnail {
    padding: 1px;
}
.navbar{
    border-radius: 0;
}

/*bottom para subir*/

.btntop {
    position: fixed;
    right: 8px;
    bottom:5px;
    color: #fff;
    text-align: center;
    padding: 0px;
    font-size: 0.8em;
    font-family: "Comic Sans MS";
    /*transform: rotate(270deg);*/
    /*transform-origin: left top 0;*/
}
.btntop:hover {
    text-decoration: none;
    color: #cfcfcf;
}
#triangulo {
    width: 0;
    height: 0;
    border-bottom: 60px solid #000;
    border-left: 60px solid transparent;
    position: fixed;
    right: 0px;
    bottom: 0;
}
#imgdio {
    background-image: url("../img/dionaea.jpg");
    background-position: center;
}
#imgsarra {
    background-image: url("../img/sarracenia.jpg");
    background-position: center;
}
#imgdrosera {
    background-image: url("../img/drosera.jpg");
    background-position: center;
}
#imgnep {
    background-image: url("../img/nephentes.jpg");
    background-position: center;
}
#imgpin {
    background-image: url("../img/pinguicula.jpg");
    background-position: center;
}
#imgsucu {
    background-image: url("../img/suculenta.jpg");
    background-position: center;
}
#imgutri {
    background-image: url("../img/utricularia.jpg");
    background-position: center;
}
.jumb-texto, .jumb-hum {
    color: #000!important;
    text-align: center;
    opacity: 1;
}
#jmb {
    background-color: rgba(255, 255, 255, 0.41);
    border-radius: 5px;
}
.table {
    margin-bottom: 0
}
.table > tbody > tr > td {
    text-align: center;
}
.pad5lr {
  padding-left: 5px;
  padding-right: 5px;
}
.padl{
  padding-left: 20px;
}
#onlyone {
  padding-top: 20px;
  margin-top: 0px;
}

@media (max-width: 767px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .nav > li > a {
        padding: 15px 13px;
    }
    .container-fluid > .navbar-collapse, .container-fluid > .navbar-header {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .col-xs-6, .col-xs-12, .col-xs-4 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    #diocult, #nepcult, #drocult, #sarcult, #pincult, #ultricult, #succult, #bicult,
    #stycult, #gencult, #cepcult, #drosocult, #helicult {
        padding-bottom: 50px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .jumb-texto {
        padding-left: 15px;
    }
    .container-fluid {
        padding: 0 !important;
    }
    .modal-content{
        text-align: -moz-center;
        text-align: -webkit-center;
        text-align: center;
    }
    h3 {
        font-size: 1.2em;
    }
    article {
        padding: 0px !important;
    }
    h1 {
        font-size: 3em;
    }
    /*ol>li {
        font-size: 1.4em;
    }
    ol li a {
        font-size: 1em;
        padding: 10px;
    }*/
    .center {
        text-align: center;
    }
    .floatri {
        float: right;
        padding-left: 0;
        padding-right: 0;
    }
    .nav-pills>li>a {
        font-size: 0.9em;
    }

    .go-left {
        background-color: rgba(0, 0, 0, 0.5);
        color: #FFFFFF;
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 100%;
        text-align: center;
        font-size: 1.4em;
        margin: 0px 0px 5px 0px;
        padding: 10px;
        -webkit-transition: 0.5s Ease;
        -moz-transition: 0.5s Ease;
        -o-transition: 0.5s Ease;
        transition: 0.5s Ease;
    }
    .my-fluid-2{
        padding-left: 0 ;
    }
    .nav > li > a {
      font-size: 1.24em;
    }
}
@media (min-width: 768px) {

  .navplanta-font.nav-tabs>li>a{
      font-size: 1.8em;
  }
    .container-fluid > .navbar-collapse, .container-fluid > .navbar-header {
        margin-right: 0px !important;
        margin-left: 30px !important;
    }
    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .container-fluid {
        padding: 0 ;
    }
    /*ol>li {
        font-size: 1.4em;
    }
    ol li a {
        font-size: 1em;
        padding: 10px;
    }*/
    .go-left {
        background-color: rgba(0, 0, 0, 0.5);
        color: #FFFFFF;
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 100%;
        text-align: center;
        font-size: 20px;
        margin: 0px 0px 5px 0px;
        padding: 10px;
        -webkit-transition: 0.5s Ease;
        -moz-transition: 0.5s Ease;
        -o-transition: 0.5s Ease;
        transition: 0.5s Ease;
    }
    .pad {
        padding: 0 20px 0 20px;
    }
    .my-fluid-2{
        padding-left: 25px;
    }
    h1 {
      font-size: 3.5em;
    }
}
@media (min-width: 992px) {
    .row > .padcatalogo > .pad5lr,
    .row > .padcatalogo > .padl{
       margin-top: 30px;
    }
    .container-fluid > .navbar-collapse, .container-fluid > .navbar-header {
        margin-right: 20px !important;
        margin-left: 80px !important;
    }
    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .container-fluid{
        padding-left: 0;
        padding-right: 0;
    }
    h1 {
        position: relative;
        font-size: 4.5em;;
    }
    .navplanta-font.nav-tabs>li>a{
        font-size: 2em;
    }
    /*ol>li {
        font-size: 1.4em;
    }
    ol li a {
        font-size: 1em;
        padding: 10px;
    }*/
    .holder {
        float: left;
        position: relative;
        overflow: hidden;
        -webkit-transition: 0.5s Ease;
        -moz-transition: 0.5s Ease;
        -o-transition: 0.5s Ease;
        transition: 0.5s Ease;
    }
    /* Caption and Light */
    /* Smooth Caption */

    .smooth {
        opacity: 1;
    }
    .go-left {
        background-color: rgba(0, 0, 0, 0.5);
        color: #FFFFFF;
        position: absolute;
        bottom: 0px;
        right: -505px;
        width: 100%;
        text-align: center;
        font-size: 20px;
        margin: 0px 0px 5px 0px;
        padding: 10px;
        -webkit-transition: 0.5s Ease;
        -moz-transition: 0.5s Ease;
        -o-transition: 0.5s Ease;
        transition: 0.5s Ease;
    }
    .smooth:hover > .go-left {
        right: 0px;
    }
    .jumb-texto {
        margin-left: 20px !important;
    }
    #jumb-hum {
        margin-top: 40px !important;
    }
    .my-fluid-2{
        padding-left: 95px;
    }
    a.btnup:hover {
        text-decoration: none;
        text-transform: none;
        color: #337ab7;
        background-color: #dcdcdc;
    }
    #diocult, #nepcult, #drocult, #sarcult, #pincult, #ultricult, #succult, #bicult,
    #stycult, #gencult, #cepcult, #drosocult, #helicult {
        padding-bottom: 100px;
    }
}
.alert-warning {
  margin: 10px;
}
